<!-- May use this in the future for a more graceful not found page -->
<%= render 'shared/menu' %>
<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-frame">
    <div class="page-header">Resource not found</div>
    <div>
    </div>
  </div>
</div>
