<%= render 'shared/menu' %>

<% if @artist %>
<h1> Listen </h1>

<p>
  <% if @artist.media %>
  <%= @artist.media.html_safe %>
  <% else %>
  <%= p 'Artist media not found' %>
  <% end %>
</p>

<% else %>
<h1>
  <%= p 'Artist not found'%>
</h1>
<% end %>
