<%= render 'shared/menu' %>

<% if @artist %>
<h1>Gallery</h1>

  <% sorted_images = @artist.images.sort_by { |image| image.order } %>
  <% sorted_images.each do |image| %>
    <%= p image.order %>
    <%= image_tag(image.file) %>
  <% end %>

<% else %>
<h1>
  <%= p 'Artist not found' %>
</h1>
<% end %>
