
<footer id="footer">
  <div class="center">
    <% if @artist %>
      <% if @artist.facebook_url && @artist.facebook_url != "" %>
        <%= link_to image_tag("facebook.png"), @artist.facebook_url %>
      <% end %>
      <% if @artist.instagram_url && @artist.instagram_url != "" %>
        <%= link_to image_tag("instagram"), @artist.instagram_url %>
      <% end %>
      <% if @artist.twitter_url && @artist.twitter_url != "" %>
        <%= link_to image_tag("twitter"), @artist.twitter_url %>
      <% end %>
    <% end %>
  </div>
  <div class="center">
    <span class="text-muted">Copyright © Meredith Hansen. All Rights Reserved.</span>
    <% if @current_user %>
    <span>You're logged in. Visit the </span>
    <%= link_to "Admin Portal", "/artists/#{ENV['PRIMARY_ARTIST_ID']}/edit" %>
    <% end %>
  </div>
</footer>
