
<footer id="footer">
  <div class="center">
    <span class="text-muted">Copyright © Meredith Hansen. All Rights Reserved.</span>
    <% if @current_user %>
    <span>You're logged in. Visit the </span>
    <%= link_to "Admin Portal", "/artists/#{ENV['PRIMARY_ARTIST_ID']}/edit" %>
    <% end %>
  </div>
</footer>
