<h1>yo</h1>
<img src="http://i.giphy.com/SPZFhfUJjsJO0.gif" alt="learning internet" style="width: 300px">
<p>Random num <%= @random %></p>

<% @roles.each do |role| %>
  <p><%= role %></p>
<% end %>

<%= link_to "Artists", artists_path %>
<%= link_to "Home", "/" %>
