body {
  /*margin: 20px;*/
  background-color: #652B80;
}

#main {
  background-color: #FBFBFB;
  /*padding: 0;*/
  color: #2C2131;
  font-family: Verdana, sans-serif;
  border-radius: 5px;
}

/* Illustrator image with Didot font, #380056 */
#logo img {
  width: 350px;
  padding: 20px;
}

.navbar-nav > li > a {
  color: #652B80 !important;
  font-family: Georgia, serif;
  font-size: 1.2em;
}


.center {
  text-align: center;
  /*position: absolute;
  margin-top: -140px;*/
}

#navbar {
  /*margin-top: 100px;*/
  color: #652B80;
}

@media (min-width: 768px) {
  .navbar .nav,
  .navbar .nav > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
  }
  .navbar-collapse {
    text-align:center;
  }
}

@media (min-width: 768px) {
  .navbar {
    /*width: 100%;*/
    margin: 0 -15px 0 -15px;
  }
}

@media (max-width: 450px) {
  .featured-image-frame, .text-frame {
    width: 100%;
    padding: 0 25px;
  }

  #logo img {
    max-width: 100%;
  }
  /*.featured-image-frame {
    padding: 0 40px;
  }
  .text-frame {
    padding: 0 30px;
  }*/
}

/* Class for featured image tag */
.featured-image {
  width: 100%;
}

.featured-image-frame {
  padding-top: 15px;
  padding-bottom: 15px;
}

.page-header {
  font-family: Georgia, serif;
  font-size: 2em;
}

/* Text sections */
.text-frame {
  padding-top: 15px;
  padding-bottom: 15px;
}

.section-header {
  font-family: Georgia, serif;
  font-size: 1.5em;
  text-align: center;
}

.schedule-image-frame {
  text-align: right;
  /*border: 1px solid;*/
}

.schedule-text-frame {
  text-align: left;
}

.schedule-image {
  max-width: 250px;
  max-height: 250px;
}

@media (max-width: 767px) {
  .schedule-image-frame, .schedule-text-frame {
    margin: 0 auto;
  }
  .schedule-image-frame {
    max-width: 300px;
    text-align: center;
  }
 .schedule-text-frame {
    max-width: 250px;
  }
  /*.center-div {
    width: 80%;
    margin: 0 auto;
  }*/
}

/* Image Gallery view */

.gallery-image-frame {
  width: 220px;
  height: 220px;
  float: left;
}

.gallery-image {
  display: block;
  margin: 10px auto;
}

/* Media view */

.media iframe {
  padding: 20px 0;
}

/* Contact view */
/*
  User can drag and drop an image into the trix WYSIWYG editor
  Removing image caption that gets displayed by default
*/
.contact {
  text-align: center;
}
.contact figcaption {
  display: none;
}

#footer {
  padding: 20px;
  background-color: #E4E4E4;
  margin: 0 -15px 0 -15px;
  border-radius: 0px 0px 5px 5px;
}

/* Admin Portal views */

.media-edit textarea {
  width: 100%;
  height: 300px;
  margin: 20px 0;
}

.admin-input {
  width: 300px;
}

.admin-button {
  margin: 10px 0;
}

.admin-padding {
  padding: 10px 30px;
}

.admin-page-header {
  font-size: 2em;
  padding: 5px 0;
}

.admin-label {
  font-size: 1.2em;
  font-weight: 500;
  padding: 5px 0;
}

.admin-flash {
  color: green;
  font-size: 1.2em;
}
